.dark-theme {
    #cg-chatlist {
        --color-form : #2e2e2e;
        --color-background : #2e2e2e;
        --input-color : #3f3f3f;
        --input-border : #2e2e2e;
        --input-border-card: 1.12px solid #464646;
        --border: 1.6px solid #464646;
        --color-search: #2e2e2e;
        --button-search: #3f3f3f;
        --button-search-hover: #3f3f3f;
        --font-color: #bbb;
        --card--hover: #3f3f3f;
        --card-select: #3f3f3f;
        --card-name: #68bbe4;
    }
}